*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 30em;
  max-width: 30em;
  /* height: 50vh; */
}

section {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#home > * {
  margin: 0.5em auto;
}

#crud {
  background-color: skyblue;
  max-height: 75vh;
  overflow-y: scroll;
}

.simple-controls-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.simple-control {
  width: 12em;
  border: solid 2px black;
  padding: 0.5em;
  margin: 0.5em;
}

.simple-control > span {
  font-size: medium;
}

.advanced-controls-container {
  display: flex;
  flex-direction: column;
}

.day-control {
  border: solid 2px black;
  margin: 0.5em;
  padding: 0.5em;
}

.day-control > div {
  display: flex;
  flex-direction: row;
  margin: 0.25em auto;
}

.day-control > div > div {
  border: solid 2px black;
}

.hidden {
  display: none;
}

footer {
  border-top: solid rgb(232, 232, 232) 1px;
  padding: 0.75em;
}
